# Dependencies
node_modules/

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Prisma
.prisma/
!.env.example

# Environment
.env

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
